
.gradient-background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    315deg,
  #aaaaaaff,
  #bbbbbbff,
  #ccccccff,
  #ddddddff,
  #eeeeeeff
  );
  background-size: 3000% 3000%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


#cards-container {
  margin: 3%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}



body {
  margin: 0;
}

h4 {
  font-family: 'Nunito';
}

.title-block{
  font-family: 'Nunito';

}

/* .workouts {
  font-family: 'Nunito';
} */

.workouts ul, .legend ul{
  font-family: 'Nunito';
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  list-style: none;
}

.legend ul {
  font-style: italic; /* You can apply custom styling if needed */
}


#sets-reps {
  text-align: right;
  color: #FF686D;
  font-weight: 600;
}

.legend {
  color: #469EFF;
  text-align: baseline;
  display: flex;
  flex-direction: column;
}

#sets-reps {
  display: inline;
}
