
.gradient-background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    315deg,
    #012a4aff,
    #013a63ff,
    #01497cff,
    #014f86ff,
    #2a6f97ff,
    #2c7da0ff,
    #468fafff,
    #61a5c2ff,
    #89c2d9ff,
    #a9d6e5ff
  );
  background-size: 3000% 3000%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


#cards-container {
  margin: 3%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}



body {
  margin: 0;
}

h4 {
  font-family: 'Nunito';
}

.title-block{
  font-family: 'Nunito';

}
#one {
  background-color: rgba(217, 237, 146, 0.2);
}
#two {
  background-color: rgba(153, 217, 140, 0.2);
}
#three {
  background-color: rgba(82, 182, 154, 0.2);
}

.workouts {
  font-family: 'Nunito';
}

.legend {
  display: flex;
  flex-direction: column;
  font-size: 9pt;
  justify-content: space-evenly;
}
