@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

html {
  margin: 2%;
  padding: 2%;
}
.card {
  margin: 1.5%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#body_background {
  display: flex;
  justify-content: center; /* Align horizontally */
  align-items: center; /* Align vertically */
  background: linear-gradient(
    to right,
    #ff6347,
    #ffd700,
    #32cd32,
    #4169e1,
    #ee82ee
  );
  background-size: 900% 100%;
  color: #ecefff;
  animation: animateBackground 20s linear infinite;
}

#workout {
  font-family: nunito;
  font-size: 13pt;
}
