@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

html {
  margin: 5%;
  padding: 3%;
}

body {
  margin: 5%;
  padding: 3%;
}

.card {
  margin: 1.5%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

#body_background {
  width: 100%; /* Changed to 100% */
  display: flex;
  justify-content: center; /* Align horizontally */
  align-items: center; /* Align vertically */
  background: linear-gradient(
    to right,
    #ff6347,
    #ffd700,
    #32cd32,
    #4169e1,
    #ee82ee
  );
  background-size: 500% 100%;
  color: #ecefff;
  animation: animateBackground 20s linear infinite;
}

#workout {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13pt;
}

/* Media Queries for iPhones */
@media only screen and (max-width: 414px) {
  .card-container {
    gap: 20px; /* Adjusted gap for smaller screens */
  }
}
