.App {
  margin: 3%;
  padding: 1%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow cards to wrap if needed */
}

/* Media Queries for iPhones */
@media only screen and (max-width: 414px) {
  .App {
    gap: 20px; /* Adjusted gap for smaller screens */
  }
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
